<div class="content">
  <div class="timer" *ngIf="!isTime(); else elseBlock">
    <!-- <div class="timer-component">{{this.totalMsToBC}}</div>
    <div class="timer-component">{{this.maxMsToBC}}</div> -->
    <div class="timer-component">
      <div class="timer-component-title">Days</div>
      <div class="timer-component-value">{{this.cdDaysToBC}}</div>
    </div>
    <div class="timer-component">
      <div class="timer-component-title">Hours</div>
      <div class="timer-component-value">{{this.cdHoursToBC}}</div>
    </div>
    <div class="timer-component">
      <div class="timer-component-title">Minutes</div>
      <div class="timer-component-value">{{this.cdMinutesToBC}}</div>
    </div>
    <div class="timer-component">
      <div class="timer-component-title">Seconds</div>
      <div class="timer-component-value">{{this.cdSecondsToBC}}</div>
    </div>
  </div>
  <div class="motd">
    <div>{{ this.motd }}</div></div> 

  <!-- <div *ngIf="this.glassType === 'empty'" class="glass">
    <img src="{{svgs.empty}}" alt="empty glass">
    <h1>NEE</h1>
  </div>
  <div *ngIf="this.glassType === 'half'" class="glass">
    <img src="{{svgs.half}}" alt="half full glass">
    <h1>BIJNA</h1>
  </div><div *ngIf="this.glassType === 'full'" class="glass">
    <img src="{{svgs.full}}" alt="full glass">
    <h1>JA</h1>
  </div>-->
  <ng-template #elseBlock>
    <div class="beerclubtime">
      <img src="assets/beergifs/{{beerGifNr}}.gif" alt="gif" style="width: 20rem;">
    </div>
  </ng-template>
</div>